/* Charity: water Brand Colors

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

*/

body {
  text-align: center;
  font-family: Arial, sans-serif;
}

#gameArea {
  padding: 20px;
  font-size: 20px;
  background-color: #FFC907;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button {
  margin-top: 10px;
}
